{
  "editor.formatOnSave": true,
  "editor.defaultFormatter": null,
  "editor.fontSize": 12,
  "editor.fontFamily": "Monaco, Menlo, monospace",
  "editor.tabSize": 2,
  "editor.insertSpaces": true,
  "editor.wordWrap": "on",
  "editor.rulers": [80, 120],
  
  "files.exclude": {
    "**/.git": true,
    "**/__pycache__": true,
    "**/*.pyc": true,
    "node_modules": true,
    ".DS_Store": true
  },
  
  "files.trimFinalNewlines": true,
  "files.trimTrailingWhitespace": true,
  
  "terminal.integrated.shell.osx": "/usr/local/bin/zsh",
  "terminal.integrated.fontSize": 12,
  
  "workbench.colorTheme": "Default Dark+",
  "workbench.iconTheme": "vs-seti",
  
  "python.linting.enabled": true,
  "python.linting.pylintEnabled": true,
  
  "ansible.validation.enabled": true,
  "ansible.validation.lint.enabled": true,
  
  "[yaml]": {
    "editor.tabSize": 2,
    "editor.insertSpaces": true,
    "editor.formatOnSave": true
  },
  
  "[json]": {
    "editor.formatOnSave": true
  },
  
  "[markdown]": {
    "editor.wordWrap": "on",
    "editor.formatOnSave": false
  },
  
  "git.ignoreLimitWarning": true,
  "gitlens.advanced.messages": {
    "suppressShowKeyBindingsNotice": true
  }
}
